@model ArticleModel;

<div>
	<div>
		<h1>New Article</h1>
	</div>
	<div>
		<form action="add" method="post" class="form-horizantal" role="form">
			<div>
				<input type="text" asp-for="Title" style="padding-bottom: 16px; width:400px" />
			</div>
			<br />
			<div>
				<input type="text" asp-for="PublishDate" style="padding-bottom: 16px; width:400px" />
			</div>
			<br />
			<div>
				<input type="text" asp-for="Content" style="padding-bottom: 16px; width:400px" />
			</div>
			<br />
			<div>
				<input type="submit" value="Publish" class="btn btn-primary"/>
			</div>
		</form>
	</div>
</div>